.button1.full-width{
    padding: 1rem 2rem;
    background-color: #ff7e1b;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    width: 100%;
}
